:root {
    --Light-Green: #20c063;
    --Green: rgb(58, 142, 82);
    --Gray: #909090;
    --Dark-Text: #3b4144;
}

* {
    color: var(--Dark-Text);
    font-family: "Lato", sans-serif;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*for when the modal id active. Will stop the page being scrollable*/
/* body {
    height: 100vh;
    overflow: hidden;
} */

/********************************Header********************************/

header {
    background-color: var(--Light-Green);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#logo {
    max-width: 90px;
    padding-right: 1rem;
}

#logo-section {
    display: flex;
    justify-content: space-between;
}

#logo-nav {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav {
    align-content: center;
}

nav a {
    text-decoration: none;
}

.header-nav a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0 0.5rem;
}

.header-nav a:nth-child(4) {
    display: none;
}

.header-nav:nth-child(2) {
    display: none;
}

#j {
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: .3rem .55rem;
}

/********************************Main********************************/

#search-info {
    margin: 0 0 0.7rem 0.7rem;
}

#search-info p:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1rem 0;
}

#search-info p:nth-child(2) {
    font-size: 0.8rem;
}

/*****Real Estate Card*****/

#real-estate-cards {
    background-color: rgb(227, 228, 230);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

article {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

ul {
    background-color: white;
    list-style: none;
}

.house-info {
    padding: 0.5rem;
}

.house-info>li {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.house-info li:nth-child(3) p,
.house-info li:nth-child(4) p {
    color: var(--Gray);
}

.house-image {
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 100%;
}

/*****House Images*****/

#house-1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg");
}

#house-2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg");
}

#house-3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg");
}

#house-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg");
}

#house-5 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg");
}

#house-6 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg");
}

#house-7 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg");
}

#house-8 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg");
}

#house-9 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg");
}

#house-10 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg");
}

#house-11 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg");
}

#house-12 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg");
}

.img-tag {
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    opacity: 90%;
    padding: 0.2rem;
    z-index: 2;
}

.new {
    background-color: var(--Light-Green);
}

#sale {
    background-color: var(--Gray);
}

.house-price {
    display: flex;
    font-weight: 700;
}

.house-price p {
    font-size: 1rem;
}

.arrow {
    padding-left: 0.3rem;
    width: 0.8rem;
}

.room {
    display: flex;
    padding: 0;
}

.room>li {
    padding-right: 0.4rem;
}

.room-icon {
    width: 0.9rem;
}

.house-specs {
    display: flex;
    padding-left: 0;
}

/*****Search Tags*****/

#search-tags {
    font-size: 0.8rem;
    line-height: 1.7rem;
    padding-top: 1rem;
    text-align: center;
}

#search-tags p {
    color: var(--Gray);
}

#page-num li {
    padding-right: 1.2rem;
}

.search-parameters {
    display: flex;
    justify-content: center;
}

.search-parameters:last-child {
    padding: 0;
}

.search-parameters li {
    padding-right: 0.5rem;
}

.search-parameters li a {
    text-decoration: none;
}

.search-parameters:first-of-type li a {
    color: var(--Green);
}

.search-parameters:last-of-type li:not(:last-child) a {
    color: var(--Green);
}

.search-parameters:last-of-type li:last-child a {
    color: var(--Dark-Text);
}

/*****Real Estate Insights*****/

#real-estate-insights {
    padding: 2rem 2rem 0 2rem;
}

h5 {
    font-size: 1.1rem;
}

#insights-paragraph {
    line-height: 1.3rem;
    font-size: 0.85rem;
    padding: 1.5rem;
}

#insights-paragraph a {
    color: var(--Green);
    text-decoration: none;
}

/********************************Footer********************************/

footer {
    background-color: #383838;
    padding: 1rem 0.5rem;
}

#footer-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#footer-nav a {
    color: var(--Gray);
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem 0.5rem 0.5rem;
}

#copyright {
    color: var(--Gray);
    font-size: 0.6rem;
    padding: 0.5rem 0 0 0.4rem;
}

/********Modal********/

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal {
    background-color: white;
    border: 3px solid var(--Light-Green);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    max-width: 90vw;
    max-height: 90vh;
}

#modal p {
    margin-bottom: 2rem;
}

.button {
    background-color: var(--Light-Green);
    color: white;
    text-align: center;
    text-decoration: none;
    min-width: 20rem;
    min-height: 2.5rem;
    align-content: center;
}

/********************Media Queries for Responsivess for Different Screen Sizes********************/

/*For Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .header-nav a:nth-child(4) {
        display: block;
    }

    .header-nav a:nth-child(5) {
        display: none;
    }

    .header-nav:nth-child(2) {
        display: block;
    }

    .house-image {
        height: 28rem;
    }
}

/*For Small Desktops*/
@media (min-width: 1025px) and (max-width: 1279px) {
    .header-nav a:nth-child(4) {
        display: block;
    }

    .header-nav a:nth-child(5) {
        display: none;
    }

    .header-nav:nth-child(2) {
        display: block;
    }

    #real-estate-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .house-image {
        height: 15rem;
    }

    #footer-nav {
        grid-template-columns: repeat(10, 1fr);
    }
}

/*For Small Desktops*/
@media (min-width: 1280px) {
    .header-nav a:nth-child(4) {
        display: block;
    }

    .header-nav a:nth-child(5) {
        display: none;
    }

    .header-nav:nth-child(2) {
        display: block;
    }

    #real-estate-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .house-image {
        height: 10rem;
    }

    #footer-nav {
        display: inline;
    }
}